@model Ticket
@{
    Layout = "_Layout";
    ViewData["Title"] = "Удаление билета";
}

<h1>Удаление билета</h1>

<h3>Вы действительно хотите удалить этот билет?</h3>
<div>
    <h4>Билет</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeatNavigation.WagonNavigation.WagonNumber)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.SeatNavigation.WagonNavigation.WagonNumber)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeatNavigation.Seat1)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeatNavigation.Seat1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainDepartureTownNavigation.TownName)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.TrainDepartureTownNavigation.TownName)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainArrivalTownNavigation.TownName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainArrivalTownNavigation.TownName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketDate)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.TicketDate)
        </dt>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTicket"/>
        <input type="submit" value="Удалить" class="btn btn-danger"/> |
        <a asp-action="Index">Назад</a>
    </form>
</div>