@model IEnumerable<Ticket>
@{
    ViewData["Title"] = "Детали направления";
    Layout = "_Layout";
}

<h1>Детали направления</h1>

<div class="table-responsive mt-5">
    <table class="table">
        <thead>
        <tr>
            <th>Тип вагона</th>
            <th>Вагон</th>
            <th>Место</th>
            <th>Доступность</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.SeatNavigation.WagonNavigation.WagonTypeNavigation.WagonType1</td>
                <td>@item.SeatNavigation.WagonNavigation.WagonNumber</td>
                <td>@item.SeatNavigation.Seat1</td>
                <td>@item.SeatNavigation.SeatAvailability</td>
                <td>
                    <a asp-action="Delete" asp-controller="Ticket" asp-route-id="@item.IdTicket">Удалить билет</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>