@model IEnumerable<Passenger>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Пользователи";
}

<h1 class="text-center">Список пользователей</h1>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Логин</th>
                <th>ФИО</th>
                <th>Дата рождения</th>
                <th>Тип паспорта</th>
                <th>Данные паспорта</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.UserNavigation.UserLogin</td>
                    <td>@item.PassengerFullName</td>
                    <td>@Html.DisplayFor(m => item.PassengerBirthday)</td>
                    <td>@item.PassportTypeNavigation.Passport</td>
                    <td>@item.PassengerPassport</td>
                </tr>
            }
        </tbody>
    </table>
</div>