@model List<Sale>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Продажи";
}
<form asp-controller="Admin" asp-action="ShowSales" class="form-inline">
    <div class="form-group mb-2">
        <input type="date" id="dateFrom" name="dateFrom" class="form-control">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="date" id="dateTo" name="dateTo" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Найти продажи на данный период</button>
    @if (Model != null) {
        <button type="submit" asp-action="CreateSaleReport" asp-controller="Admin" class="btn btn-primary mx-sm-3 mb-2">Сделать отчёт</button>
    }
</form>

@if (Model != null) {
    <table class="table">
        @foreach (var item in Model) {
            <thead>
                <tr>
                    <th>Логин</th>
                    <th>ФИО</th>
                    <th>Дата покупки билета</th>
                    <th>Город отбытия</th>
                    <th>Город прибытия</th>
                    <th>Дата поездки</th>
                    <th>Стоимость</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@item.PassengerNavigation.UserNavigation.UserLogin</td>
                    <td>@item.PassengerNavigation.PassengerFullName</td>
                    <td>@item.SaleDate</td>
                    <td>@item.TicketNavigation.TrainDepartureTownNavigation.TownName</td>
                    <td>@item.TicketNavigation.TrainArrivalTownNavigation.TownName</td>
                    <td>@item.TicketNavigation.TicketDate</td>
                    <td>@item.TotalPrice</td>
                </tr>
            </tbody>
        }
    </table>
}
