@model IEnumerable<RailwayWebApp.ViewModels.TicketsViewModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Билеты";
}

<h1>Билеты</h1>

<p>
    <a asp-action="CreateTickets">Создать новые билеты</a>
</p>
@if (Model != null) {
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TrainName)</th>
                <th>@Html.DisplayNameFor(model => model.DepartureTime)</th>
                <th>@Html.DisplayNameFor(model => model.DepartureTown)</th>
                <th>@Html.DisplayNameFor(model => model.ArrivalTown)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.TrainName</td>
                    <td>@item.DepartureTime.ToString()</td>
                    <td>@item.DepartureTown</td>
                    <td>@item.ArrivalTown</td>
                    <td><a asp-action="Details" asp-route-departureTown="@item.DepartureTown" asp-route-arrivalTown="@item.ArrivalTown" asp-route-date="@item.DepartureTime" asp-route-trainName="@item.TrainName">Детали</a></td>
                </tr>
            }
        </tbody>
    </table>
}