@model IEnumerable<Ticket>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Билеты";
}

<h1>Билеты</h1>

<p>
    <a asp-action="CreateNewTickets">Создать новые билеты</a> |
    <a asp-area="" asp-controller="Admin" asp-action="Tickets">Все билеты</a>
</p>
@if (Model != null) {
    <table class="table">
        <thead>
            <tr>
                <th>Поезд</th>
                <th>Дата отправления</th>
                <th>Город отбытия</th>
                <th>Город прибытия</th>
                <th>Вагон</th>
                <th>Место</th>
                <th>Свободно</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.SeatNavigation.WagonNavigation.TrainWagonNavigation.TrainNavigation.TrainName</td>
                    <td>@item.TicketDate.ToString()</td>
                    <td>@item.TrainDepartureTownNavigation.TownName</td>
                    <td>@item.TrainArrivalTownNavigation.TownName</td>
                    <td>@item.SeatNavigation.WagonNavigation.WagonNumber</td>
                    <td>@item.SeatNavigation.Seat1</td>
                    <td>@item.SeatNavigation.SeatAvailability
                    <td>
                    <td><a asp-action="DeleteTicket" asp-route-id="@item.IdTicket">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}